
{% load i18n %}

{% load account socialaccount %}
<!-- 
{% block head_title %}{% trans "Sign In" %}{% endblock %} -->

{% block content %}

<!-- <h1>{% trans "Sign In" %}</h1> -->

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<!-- <p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p> -->
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/css/mdb.min.css" rel="stylesheet">

    <title>Sign In</title>
</head>
<body class="white-skin">
    <div class="container my-5 py-5 z-depth-1">

    
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">


        <!--Grid row-->
        <div class="row d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-6">
              {% if form.non_field_errors %}
              
                  {% for error in form.non_field_errors %}
                      <div class="alert alert-danger" role="alert">
                        {{ error }}
                      </div>
                  {% endfor %}
              
             {% endif %}
            <!-- Default form register -->
            <form class="text-center login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
                <p class="h4 mb-4">Sign In</p>

                <!-- E-mail -->
                <input type="email" name="login" class="form-control mb-4" placeholder="E-mail address" autofocus="autofocus" required="" id="id_login">

                <!-- Password -->
                <input type="password" name="password" class="form-control" placeholder="Password" required="" id="id_password">
                
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <!-- Sign up button -->
                <button class="btn btn-primary my-4 btn-block" type="submit">{% trans "Sign In" %}</button>
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

                <hr>

                <p>Not a member yet?
                <a href="{{ signup_url }}">Sign Up</a>
                </p>
                <p>
                  <a href="{% url 'projects:index' %}">Back to home</a>
                  </p>

            </form>
            <!-- Default form register -->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        </section>
        <!--Section: Content-->

  </div>

</body>
<footer>
    
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/js/mdb.min.js"></script>

</html>
<!-- <form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form> -->

{% endblock %}
